@model Sicaab.Core.Domain.Proveedor

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Registro</h1>

<h3>A¿Quieres eliminar el Registro?</h3>
<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonaContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonaContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaNavigation.Categoria)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProveedor" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
