@model IEnumerable<Sicaab.Core.Domain.Proveedor>

@{
    ViewData["Title"] = "Proveedor";
}

<h1>Proveedor</h1>

<p>
    <a asp-action="Create">Agregar Proveedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProveedor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProveedor">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProveedor">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
