@model Sicaab.Core.Domain.ArteProducto

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Registro</h1>

<h3>¿Quieres eliminar el Registro?</h3>
<div>
    <h4>ArteProducto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Largo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Largo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Ciudad)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArte" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
